* {
    background-color: #242424;

    font-size: 24px;
    color: #CCCCCC;
    font-family: 'Bitter', serif;

    word-spacing: 5px;
    letter-spacing: 5px;

    /* top, right, bottom, left */
    margin: 0 0 0 10px;
}

h1 {
    font-family: 'Courgette', cursive;
    word-spacing: 30px;
    letter-spacing: 10px;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 1;
    margin-bottom: 0;

}

h2 {
    font-weight: 1;
    font-size: 36px;

    margin: 0 0 60px 20px;
}

.tab1 {
    margin: 30px 0 0 20px;
}

.tab2 {
    margin: 30px 0 15px 80px;
}

.tab3 {
    margin: 0 0 10px 80px;
}

.tab4 {
    margin: 0 0 100px 80px;
}

ul.one {
    margin: 0 0 0px 100px;
}

p.one {
    word-spacing: 2px;
    letter-spacing: 2px;
    line-height: 50px;
}

.one li, b{
    font-size: 12px;
    margin: 0 0 5px 0;
    word-spacing: 2px;
    letter-spacing: 2px;
}

ul.two {
    margin: 5px 0 0 0;
}

img {
    margin-left: 90px;
}

img.one {
    width: 450px;

}

img.two {
    width: 900px;
}

a {
    text-decoration: none;
    color: #0645AD;
}

video {
    margin-top: 15px
}