:root{
    background-image: url("ptrbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #00569F;
}

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

body {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000032;
    background-image: url("sunset.jpg");
    background-repeat: no-repeat;
    background-position: right;
    grid-column: 1/5;
}

#wrapper {
    display: grid;
    grid-template-columns: 190px 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    min-width: 600px;
}

#content {
    /* padding-right: 10px;
    padding-left: 30px;
    padding-bottom: 50px; */
    padding: 0 10px 50px 30px;    /*same as above */
    background-color: white;
    grid-column: 2/5;
}

nav {
    grid-row: 2/4;
    background-color: #90C8E1
}

nav a {
    color: #000032;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    font-size: 1.2em;
    list-style-type: none;
    margin-left: -20px;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: white;
}

img {
    float: left;
    padding-right: 20px;
}

#content ul {
    list-style-image: url("marker.gif");
    margin-left: -40px;
    list-style-position: inside;
}

#contact {
    font-size: 90%;
}

h1 {
    margin: 0;
    color: #fff;
    padding: 10px;
}

h2 {
    color: #3399CC;
}

h1, h2 {
    font-family: Georgia, "Times New Roman", serif;
}

dt {
    color: #000033;
}

span {
    color: #3399CC;
    font-weight: bold;
}

footer {
    padding-left: 20px;
    background-color: white;
    font-family: Georgia, "Times New Roman", serif;
    grid-column: 2/5;
    padding-bottom: 30px;
    font-style: italic;
}
