/*
File: style.css
91.461 Assignment: In-Class Exercise - Boxes
Victor M Espaillat, UMass Lowell Computer Science, victor_espaillat@student.uml.edu
*/

#page {
    /* The whole page is centered using the margin property. */
    margin: auto;
    /* The main “box” on this page has a double-lined border around it. */
    border: thick double;
    /* Padding is about 20 pixels. */
    padding: 20px;
    /* Prevent the page from becoming too narrow or too wide, the max here is
    about 940 pixels and the minimum is about 720 pixels */
    max-width: 940px;
    min-width: 720px;
    /* The size of this box will expand and contract if the browser window is resized.  */
}

body {
    /* The body section has the following CSS styling: */
    font-size: 80%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
}

#navigation {
    width: 570px;
    margin: auto;
    /* There are borders set to the top and bottom of this list to make it
    stand out. Notice the difference between the top and bottom border. */
    border-bottom: medium solid;
    border-top: thick solid;
    padding: 15px;
    text-align: center;
    /* The list is set to about 570 pixels */
    width: 570px;
    margin-bottom: 20px;
}

#navigation li {
    /* Each item in the list behaves like inline (rather than block-level)
    elements. This enables the navigation links to sit next to each other
    horizontally. */
    display: inline;
     /* There’s a padding of about 15 pixels to create space between each of
     the links */
    padding: 15px;
    list-style-type: none;
    text-align: center;
}

a {
    /* All the links have a default color of black. */
    color: black;
    /* all capitalized, */
    text-transform: uppercase;
    /* no underline. */
    text-decoration: none;
    /* A padding was added to make links separate nicely for readability. */
    padding: 6px, 18px, 5px, 18px;
}

/* When someone hovers over a link, it would turn to red. Same thing for the
link that the user is currently on. */
.on, a:hover {
    color: red;
}

#logo {
    /* The logo is centered using the margin property.  */
    width: 570px;
    margin: auto;
    margin-bottom: 20px;
}

#logo img {
    display: block;
    margin: auto;
}

p {
    /* The paragraphs beneath the list are set to about 600 pixels. */
    width: 600px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

