/*******************************************************************************
**    File: custom.css                                                        **
**                                                                            **
**    91.461 Assignment 9: Implementing a Bit of Scrabble with Drag-and-Drop  **
**                                                                            **
**    Victor M Espaillat, UMass Lowell Computer Science,                      **
**    victor_espaillat@student.uml.edu                                        **
*******************************************************************************/

body {
    background-color: #252525;
}

#score-board {
    width: 574px;
    margin: auto;
}

#strip {
    position: relative;
    width: 574px;
    height: 92px;
    border: 1px white solid;
    margin: auto;
}

.board-blank {
    background-image: url('../images/board/blank.png');
}

.board-double {
    background-image: url('../images/board/double.png');
}

#rack {
    width: 640px;
    height: 182px;
    margin: 50px auto 0px auto;
    padding-top: 45px;
    padding-left: 80px;
    background-image: url('../images/tile-holder.png') ;
    background-repeat: no-repeat;
}

.draggable {
    width: 80px;
    height: 88px;
    float: left;
    background-color: #5CB85C;
    z-index: 1;
    border: 1px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: #0275d8;
}

.droppable {
    width: 81px;
    height: 88px;
    border-bottom: 2px;
    border-top: 2px;
    /*padding: 0.5em;*/
    float: left;
    margin: 0;
    margin-right: 1px;
    position: relative;
    top: 2px;
}

.ui-state-highlight {
    background-color: yellow;
}

.drop-hover {
    box-shadow: 0 0 10px 10px green;
    z-index: 1;

    transition: box-shadow 0.2s;
}

.drawn {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}